<!-- Navigation -->
<a class="menu-toggle rounded" href="#">
  <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#home">Home</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#about">About</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#services">Services</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" routerLink="/gallery">Gallery</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#contact">Contact</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="/login">Login</a>
    </li>
  </ul>
</nav>
<div class="form-container">
  <!-- <img src="assets/images/lock.svg" id="lock"> -->

  <span class="error" *ngIf="error">{{ error }}</span>

  <button (click)="loginFb()" id="fb">Login With Facebook</button>
  <br>
  <button (click)="loginGoogle()" id="google">Login With Google</button>
  <button routerLink="/login-email" id="email">Email</button>

  <a routerLink="/signup" routerLinkActive="active" class="alc">No account?
    <strong>Create one here</strong>
  </a>
</div>
